<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.burgch.lockinfo.HTCPlugin</string>
			<key>key</key>
			<string>SpaceSaveEnabled</string>
			<key>label</key>
			<string>Use Space Save</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.burgch.lockinfo.HTCPlugin</string>
			<key>key</key>
			<string>RemoveExtra</string>
			<key>label</key>
			<string>Remove Extra Space</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>height</key>
			<integer>50</integer>
			<key>alignment</key>
			<integer>1</integer>
			<key>label</key>
			<string>This is enabled automatically with Space Save</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icon Scale</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.burgch.lockinfo.HTCPlugin</string>
			<key>key</key>
			<string>IconScale</string>
			<key>label</key>
			<string>Icon Scale</string>
			<key>max</key>
			<real>1.5</real>
			<key>min</key>
			<real>0.5</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>height</key>
			<integer>120</integer>
			<key>alignment</key>
			<integer>1</integer>
			<key>label</key>
			<string>Adjust to change the size of the icon below the clock. 
Note: This will NOT change the size of the icons that appear in the weather forecast.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>City Font Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>height</key>
			<integer>50</integer>
			<key>alignment</key>
			<integer>1</integer>
			<key>label</key>
			<string>Minimum:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>14</integer>
			<key>defaults</key>
			<string>com.burgch.lockinfo.HTCPlugin</string>
			<key>key</key>
			<string>CityMinSize</string>
			<key>label</key>
			<string>City Min Size</string>
			<key>max</key>
			<integer>16</integer>
			<key>min</key>
			<integer>8</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>height</key>
			<integer>50</integer>
			<key>alignment</key>
			<integer>1</integer>
			<key>label</key>
			<string>Maximum:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>18</integer>
			<key>defaults</key>
			<string>com.burgch.lockinfo.HTCPlugin</string>
			<key>key</key>
			<string>CityMaxSize</string>
			<key>label</key>
			<string>City Max Size</string>
			<key>max</key>
			<integer>24</integer>
			<key>min</key>
			<integer>16</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Description Font Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>height</key>
			<integer>50</integer>
			<key>alignment</key>
			<integer>1</integer>
			<key>label</key>
			<string>Minimum:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>10</integer>
			<key>defaults</key>
			<string>com.burgch.lockinfo.HTCPlugin</string>
			<key>key</key>
			<string>DescriptionMinSize</string>
			<key>label</key>
			<string>Description Min Size</string>
			<key>max</key>
			<integer>14</integer>
			<key>min</key>
			<integer>6</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>height</key>
			<integer>50</integer>
			<key>alignment</key>
			<integer>1</integer>
			<key>label</key>
			<string>Maximum:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>14</integer>
			<key>defaults</key>
			<string>com.burgch.lockinfo.HTCPlugin</string>
			<key>key</key>
			<string>DescriptionMaxSize</string>
			<key>label</key>
			<string>Description Max Size</string>
			<key>max</key>
			<integer>20</integer>
			<key>min</key>
			<integer>14</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Allow 2 Lines for:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.burgch.lockinfo.HTCPlugin</string>
			<key>key</key>
			<string>CityTwoLines</string>
			<key>label</key>
			<string>City</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.burgch.lockinfo.HTCPlugin</string>
			<key>key</key>
			<string>DescriptionTwoLines</string>
			<key>label</key>
			<string>Description</string>
		</dict>
	</array>
	<key>title</key>
	<string>HTC Plugin</string>
</dict>
</plist>
