<plist>
<dict>
	<key>items</key>
        <array>
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                </dict>
		<dict>
                        <key>cell</key>
                        <string>PSSwitchCell</string>
                        <key>default</key>
                        <false/>
                        <key>defaults</key>
                        <string>com.ashman.lockinfo.LockWeatherPlugin</string>
                        <key>key</key>
                        <string>Collapsed</string>
                        <key>label</key>
                        <string>Collapsed By Default</string>
                </dict>
		<dict>
                        <key>cell</key>
                        <string>PSSwitchCell</string>
                        <key>default</key>
                        <false/>
                        <key>defaults</key>
                        <string>com.ashman.lockinfo.LockWeatherPlugin</string>
                        <key>key</key>
                        <string>ShowUpdateTime</string>
                        <key>label</key>
                        <string>Show Update Time</string>
                </dict>
		<dict>
                        <key>cell</key>
                        <string>PSSwitchCell</string>
                        <key>default</key>
                        <false/>
                        <key>defaults</key>
                        <string>com.ashman.lockinfo.LockWeatherPlugin</string>
                        <key>key</key>
                        <string>ShowDescription</string>
                        <key>label</key>
                        <string>Show Description</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                </dict>
		<dict>
                        <key>cell</key>
                        <string>PSLinkListCell</string>
                        <key>default</key>
                        <integer>0</integer>
                        <key>defaults</key>
                        <string>com.ashman.lockinfo.LockWeatherPlugin</string>
                        <key>detail</key>
                        <string>PSListItemsController</string>
                        <key>key</key>
                        <string>Detail</string>
                        <key>label</key>
                        <string>Detail</string>
                        <key>validTitles</key>
                        <array>
                                <string>Forecast</string>
                                <string>Calendar</string>
                                <string>Both</string>
                        </array>
                        <key>validValues</key>
                        <array>
                                <integer>0</integer>
                                <integer>1</integer>
                                <integer>2</integer>
                        </array>
			<key>staticTextMessage</key>
			<string>With "Both" selected, tapping the left side will show the calendar and tapping the right side will show the forecast.</string>
                </dict>
		<dict>
                        <key>cell</key>
                        <string>PSSwitchCell</string>
                        <key>default</key>
                        <false/>
                        <key>defaults</key>
                        <string>com.ashman.lockinfo.LockWeatherPlugin</string>
                        <key>key</key>
                        <string>ShowCalendarWeeks</string>
                        <key>label</key>
                        <string>Calendar Weeks</string>
                </dict>
        </array>
	<key>title</key>
        <string>WeatherIcon</string>
</dict>
</plist>
