<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Celsius</key>
	<false/>
	<key>Location</key>
	<string>20852</string>
	<key>RefreshInterval</key>
	<integer>15</integer>
	<key>WeatherBundleIdentifier</key>
	<string>com.apple.weather</string>
</dict>
</plist>
