Package: klearweather
Name: Klear Weather Icon Theme
Version: 1.1
Architecture: iphoneos-arm
Description: Kweather Klear images for WeatherIcon
Homepage: http://david.ashman.com/weathericon/klear
Depiction: http://david.ashman.com/weathericon/klear
Maintainer: David Ashman <dashman@gmail.com>
Author: David Ashman (Stimpy5050) <dashman@gmail.com>
Sponsor: 
Section: Themes (WinterBoard)
