Package: com.ashman.weathericon
Name: WeatherIcon
Version: 2.1.11
Architecture: iphoneos-arm
Description: Puts live weather information on top of the weather icon.
Homepage: http://david.ashman.com/weathericon
Depiction: http://david.ashman.com/weathericon
Maintainer: David Ashman <dashman@gmail.com>
Author: David Ashman (Stimpy5050) <dashman@gmail.com>
Sponsor: 
Section: Tweaks
Pre-Depends: mobilesubstrate, preferenceloader, com.ashman.wvc
