Package: com.ashman.weathericon
Name: WeatherIcon
Version: 2.4.4.0
Architecture: iphoneos-arm
Description: Puts live weather information on top of the weather icon.
Homepage: http://modmyi.com/info/weathericon.php
Depiction: http://modmyi.com/info/weathericon.d.php
Maintainer: poetic_folly <poetic_folly@modmyi.com>
Author: David Ashman (Stimpy5050) <dashman@gmail.com>
Sponsor: ModMyi.com <http://modmyi.com/forums/index.php?styleid=31>
Section: Tweaks
Pre-Depends: mobilesubstrate, preferenceloader, com.ashman.libweather, firmware (<< 4.0) | libstatusbar, applist
Conflicts: com.ashman.weathericonstatusbar
