<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Type</key>
	<string>kweather</string>
	<key>ImageMarginTop</key>
	<integer>3</integer>
	<key>ImageScale</key>
	<real>0.25</real>
	<key>Mappings</key>
	<dict>
		<key>weather0</key>
		<string>tstorm3</string>
		<key>weather1</key>
		<string>tstorm3</string>
		<key>weather10</key>
		<string>hail</string>
		<key>weather11</key>
		<string>shower2</string>
		<key>weather12</key>
		<string>shower2</string>
		<key>weather13</key>
		<string>snow1</string>
		<key>weather14</key>
		<string>snow2</string>
		<key>weather15</key>
		<string>snow3</string>
		<key>weather16</key>
		<string>snow4</string>
		<key>weather17</key>
		<string>hail</string>
		<key>weather18</key>
		<string>sleet</string>
		<key>weather19</key>
		<string>mist</string>
		<key>weather2</key>
		<string>tstorm3</string>
		<key>weather20</key>
		<string>fog</string>
		<key>weather21</key>
		<string>mist</string>
		<key>weather22</key>
		<string>fog</string>
		<key>weather23</key>
		<string>sunny</string>
		<key>weather24</key>
		<string>fog</string>
		<key>weather25</key>
		<string>cloudy5</string>
		<key>weather26</key>
		<string>cloudy5</string>
		<key>weather27</key>
		<string>cloudy4</string>
		<key>weather28</key>
		<string>cloudy4</string>
		<key>weather29</key>
		<string>cloudy2</string>
		<key>weather3</key>
		<string>tstorm3</string>
		<key>weather30</key>
		<string>cloudy2</string>
		<key>weather31</key>
		<string>sunny</string>
		<key>weather32</key>
		<string>sunny</string>
		<key>weather3200</key>
		<string>dunno</string>
		<key>weather33</key>
		<string>cloudy1</string>
		<key>weather34</key>
		<string>cloudy1</string>
		<key>weather35</key>
		<string>hail</string>
		<key>weather36</key>
		<string>sunny</string>
		<key>weather37</key>
		<string>tstorm1</string>
		<key>weather38</key>
		<string>tstorm2</string>
		<key>weather39</key>
		<string>tstorm2</string>
		<key>weather4</key>
		<string>tstorm2</string>
		<key>weather40</key>
		<string>shower1</string>
		<key>weather41</key>
		<string>snow5</string>
		<key>weather42</key>
		<string>snow3</string>
		<key>weather43</key>
		<string>snow5</string>
		<key>weather44</key>
		<string>cloudy2</string>
		<key>weather45</key>
		<string>tstorm2</string>
		<key>weather46</key>
		<string>snow3</string>
		<key>weather47</key>
		<string>tstorm1</string>
		<key>weather5</key>
		<string>sleet</string>
		<key>weather6</key>
		<string>sleet</string>
		<key>weather7</key>
		<string>sleet</string>
		<key>weather8</key>
		<string>hail</string>
		<key>weather9</key>
		<string>light_rain</string>
	</dict>
</dict>
</plist>
