Package: smoogweather
Name: Smoog Weather Icon Background Theme
Version: 1.1
Architecture: iphoneos-arm
Description: Smoog-based background images for WeatherIcon
Homepage: http://david.ashman.com/weathericon/smoog
Depiction: http://david.ashman.com/weathericon/smoog
Maintainer: David Ashman <dashman@gmail.com>
Author: David Ashman (Stimpy5050) <dashman@gmail.com>
Sponsor: 
Section: Themes (WinterBoard)
