<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ashman.WeatherIcon</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                </dict>
                <dict>
                        <key>bundle</key>
                        <string>LibWeatherSettings</string>
                        <key>cell</key>
                        <string>PSLinkCell</string>
                        <key>isController</key>
                        <true/>
                        <key>label</key>
                        <string>Weather Settings</string>
                </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.ashman.WeatherIcon</string>
			<key>id</key>
			<string>ShowWeatherIcon</string>
			<key>key</key>
			<string>ShowWeatherIcon</string>
			<key>label</key>
			<string>Show Image</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ashman.WeatherIcon</string>
			<key>id</key>
			<string>ShowWeatherBadge</string>
			<key>key</key>
			<string>ShowWeatherBadge</string>
			<key>label</key>
			<string>Show Badge</string>
		</dict>
		<dict>
                        <key>cell</key>
                        <string>PSLinkCell</string>
                        <key>label</key>
                        <string>App to Theme</string>
                        <key>isController</key>
                        <true/>
                        <key>bundle</key>
                        <string>AppList</string>
                        <key>ALNavigationTitle</key>
                        <string>App to Theme</string>
                        <key>ALChangeNotification</key>
                        <string>com.ashman.WeatherIcon.appToTheme</string>
                        <key>ALAllowsSelection</key>
                        <true/>
			<key>ALSingleEnabledMode</key>
			<true/>
			<key>ALSettingsKey</key>
			<string>WeatherBundleIdentifier</string>
                        <key>ALSettingsPath</key>
                        <string>/User/Library/Preferences/com.ashman.WeatherIcon.plist</string>
                </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Status Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ashman.WeatherIcon</string>
			<key>key</key>
			<string>ShowStatusBarImage</string>
			<key>label</key>
			<string>Show Image</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ashman.WeatherIcon</string>
			<key>key</key>
			<string>ShowStatusBarTemp</string>
			<key>label</key>
			<string>Show Temp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>	
			<key>cell</key>
                        <string>PSLinkCell</string>
                        <key>label</key>
                        <string>Donate via PayPal</string>
                        <key>URL</key>
                        <string>https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=3324856</string>
			<key>action</key>
			<string>openURL:</string>
		</dict>
	</array>
	<key>title</key>
	<string>Weather Icon</string>
</dict>
</plist>
