<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ashman.WeatherIcon</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                </dict>
                <dict>
                        <key>bundle</key>
                        <string>LibWeatherSettings</string>
                        <key>cell</key>
                        <string>PSLinkCell</string>
                        <key>isController</key>
                        <true/>
                        <key>label</key>
                        <string>Weather Settings</string>
                </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.ashman.WeatherIcon</string>
			<key>id</key>
			<string>ShowWeatherIcon</string>
			<key>key</key>
			<string>ShowWeatherIcon</string>
			<key>label</key>
			<string>Show Image</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ashman.WeatherIcon</string>
			<key>id</key>
			<string>ShowWeatherBadge</string>
			<key>key</key>
			<string>ShowWeatherBadge</string>
			<key>label</key>
			<string>Show Badge</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ashman.WeatherIcon</string>
			<key>id</key>
			<string>AlwaysThemeWeather</string>
			<key>key</key>
			<string>AlwaysThemeWeather</string>
			<key>label</key>
			<string>iPhone Weather</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>com.apple.weather</string>
			<key>defaults</key>
			<string>com.ashman.WeatherIcon</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>WeatherBundleIdentifier</string>
			<key>id</key>
			<string>WeatherBundleIdentifier</string>
			<key>label</key>
			<string>Application</string>
			<key>validTitles</key>
			<array>
				<string>iPhone Weather</string>
				<string>The Weather Channel</string>
				<string>The Weather Channel Max</string>
				<string>WeatherBug</string>
				<string>WeatherBug Elite</string>
				<string>Outside</string>
				<string>AccuWeather.com</string>
				<string>Fizz Weather</string>
				<string>Fizz Traveller</string>
				<string>WeatherEye</string>
				<string>My Weather</string>
				<string>Oz Weather</string>
				<string>Pocket Weather</string>
				<string>Weather Pro</string>
				<string>WeatherNZ</string>
				<string>Custom</string>
			</array>
			<key>validValues</key>
			<array>
				<string>com.apple.weather</string>
				<string>com.weather.TWC</string>
				<string>com.yourcompany.TWCMax</string>
				<string>com.aws.weatherbug.pro</string>
				<string>com.aws.weatherbug.elite</string>
				<string>com.icelantern.Outside</string>
				<string>com.yourcompany.TestWithCustomTabs</string>
				<string>fizzsoftware.com.fizzweather</string>
				<string>fizzsoftware.com.fizztraveller</string>
				<string>com.theweathernetwork.weathereye</string>
				<string>com.MyWeather.MyWeather</string>
				<string>com.ajnaware.ozweather</string>
				<string>com.russellivanovic.pocketweather</string>
				<string>de.meteogroup.WeatherPro</string>
				<string>nz.co.orsome.weatherNZ</string>
				<string>Custom</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>CustomWeatherBundleIdentifier</string>
			<key>defaults</key>
			<string>com.ashman.WeatherIcon</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>CustomWeatherBundleIdentifier</string>
			<key>label</key>
			<string>Custom</string>
			<key>placeholder</key>
			<string>Enter Bundle Identifier</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Status Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ashman.WeatherIcon</string>
			<key>key</key>
			<string>ShowStatusBarImage</string>
			<key>label</key>
			<string>Show Image</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ashman.WeatherIcon</string>
			<key>key</key>
			<string>ShowStatusBarTemp</string>
			<key>label</key>
			<string>Show Temp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>	
			<key>cell</key>
                        <string>PSLinkCell</string>
                        <key>label</key>
                        <string>Donate via PayPal</string>
                        <key>URL</key>
                        <string>https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=3324856</string>
			<key>action</key>
			<string>openURL:</string>
		</dict>
	</array>
	<key>title</key>
	<string>Weather Icon</string>
</dict>
</plist>
