Package: katraweather
Name: Katra-based Weather Icon Theme
Version: 1.3
Architecture: iphoneos-arm
Description: Katra images for WeatherIcon
Homepage: http://david.ashman.com/weathericon/katra
Depiction: http://david.ashman.com/weathericon/katra
Maintainer: David Ashman <dashman@gmail.com>
Author: David Ashman (Stimpy5050) <dashman@gmail.com>
Sponsor: 
Section: Themes (WinterBoard)
